
## **Data Cleaning**


---
Data Cleaning is the process of transforming raw data into consistent data that can be analyzed. It is aimed at improving the content of statistical statements based on the data as well as their reliability. Data cleaning may profoundly influence the statistical statements based on the data.

**About the the Data set**

> The dataset used in this analysis is the "College Wage Premium" dataset, which provides information about the wages of college graduates compared to non-college graduates. The dataset was sourced from the following link:
[https://github.com/waheeb123/Datasets/blob/main/college_wage_premium.csv](URL)


This dataset was chosen for analysis because it is relevant to studying the economic impact of education and can provide insights into how wages differ between college-educated and non-college-educated individuals.

The Data set choosen for the data cleaning task is downloaded from Kaggle. Kaggle is an online community platform for data scientists and machine learning enthusiasts. Kaggle allows users to collaborate with other users, find and publish datasets, use GPU integrated notebooks, and compete with other data scientists to solve data science challenges.

After dowloading the data set, it was stored in a github repository from where it was loaded into notebook.

In [1]:
# Setting up the enviromnet

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Loading the data set

df = pd.read_csv("https://raw.githubusercontent.com/waheeb123/Datasets/main/college_wage_premium.csv")

# Displaying first 7 and last 7 rows

df.head(7)

,year,high_school,bachelors_degree,men_high_school,men_bachelors_degree,women_high_school,women_bachelors_degree
0,2022,21.94,41.60,24.08,49.01,18.93,34.39
1,2021,22.28,41.32,24.36,47.83,19.36,35.08
2,2020,22.70,41.65,25.09,48.15,19.35,35.41
3,2019,21.64,39.61,23.99,45.74,18.48,33.80
4,2018,21.50,38.87,23.72,44.97,18.49,33.03
5,2017,21.26,38.65,23.47,44.50,18.31,33.01
6,2016,21.00,38.73,23.01,44.98,18.33,32.66

## **Summary statistics and structure:**

we can check the mean, standard deviation, counts , min/max and quantiles with the help of `describe()` function for all the columns with numeric data type. BUt median is missing so we can get median by `.median()` method in the code cell below

In [4]:
df.describe()

,year,high_school,bachelors_degree,men_high_school,men_bachelors_degree,women_high_school,women_bachelors_degree
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1997.50000,20.876600,34.768600,23.832600,39.988400,17.571600,28.926400
std,14.57738,0.742743,3.306645,1.225697,3.734945,0.854342,3.760532
min,1973.00000,19.620000,30.040000,22.110000,35.160000,16.450000,22.940000
25%,1985.25000,20.392500,31.875000,22.945000,36.605000,16.890000,25.462500
50%,1997.50000,20.855000,34.205000,23.695000,39.485000,17.370000,29.425000
75%,2009.75000,21.480000,37.122500,24.307500,42.340000,18.317500,31.975000
max,2022.00000,22.700000,41.650000,26.900000,49.010000,19.360000,35.410000

In [5]:
df.median()

year                      1997.500
high_school                 20.855
bachelors_degree            34.205
men_high_school             23.695
men_bachelors_degree        39.485
women_high_school           17.370
women_bachelors_degree      29.425
dtype: float64

In [6]:
#Checking the data types of column and shape

print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    50 non-null     int64
 1   high_school             50 non-null     float64
 2   bachelors_degree        50 non-null     float64
 3   men_high_school         50 non-null     float64
 4   men_bachelors_degree    50 non-null     float64
 5   women_high_school       50 non-null     float64
 6   women_bachelors_degree  50 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 2.9 KB
None
(50, 7)

## **Changing the column name:**
The column names look perfectly fine and meaningful.  

**Note:** For the sake of this assignment we will change a few names for the columns at the end of notebook. For now we will leave as it is

In [7]:
#Checking column name:

df.columns

Index(['year', 'high_school', 'bachelors_degree', 'men_high_school',
       'men_bachelors_degree', 'women_high_school', 'women_bachelors_degree'],
      dtype='object')

## **Handling missing data:**
Let's create a list of columns that contains the missing values

In [19]:
# Missing Value Information
missing_info = df.isnull().sum()
print (missing_info)

year                      0
high_school               0
bachelors_degree          0
men_high_school           0
men_bachelors_degree      0
women_high_school         0
women_bachelors_degree    0
dtype: int64

In [20]:
# Saving the columns that has missing values
cols_with_missing = [col for col in df.columns
                     if df[col].isnull().any()]

In [21]:
# Printing the names of columns and number of missing values in that column
for i in cols_with_missing:
    print(i,df[i].isnull().sum())

We can see that there are no missing values.

In [23]:
# Checking the shape of data frame after removing the missing values if there are some
df.shape

(50, 7)

## **Data Wrangling**

In [31]:
# Modify column names
df.rename(columns={"women_bachelors_degree": "women_bachelor_degree"}, inplace=True)

In [32]:
# Create a new column based on existing columns
df['new_column'] = df['men_high_school'] + df['women_high_school']

In [33]:
df.describe()

,year,high_school,bachelors_degree,men_high_school,men_bachelors_degree,women_high_school,women_bachelor_degree,new_column
count,50.00000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,1997.50000,20.876600,34.768600,23.832600,39.988400,17.571600,28.926400,41.404200
std,14.57738,0.742743,3.306645,1.225697,3.734945,0.854342,3.760532,1.330118
min,1973.00000,19.620000,30.040000,22.110000,35.160000,16.450000,22.940000,39.030000
25%,1985.25000,20.392500,31.875000,22.945000,36.605000,16.890000,25.462500,40.515000
50%,1997.50000,20.855000,34.205000,23.695000,39.485000,17.370000,29.425000,41.345000
75%,2009.75000,21.480000,37.122500,24.307500,42.340000,18.317500,31.975000,42.462500
max,2022.00000,22.700000,41.650000,26.900000,49.010000,19.360000,35.410000,44.440000

Let's drop columns and drop rows